.footer {
  background-color: var(--second-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}

.footer-address-social {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 603px;
    margin-left: 61px;
    margin-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-bottom: 0;
    width: 507px;
  }
}

.footer-contacts {
  text-align: center;

  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}

.address {
  margin-top: 20px;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.address__item {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0;
  }
}

.address__link {
  font-style: normal;
  @include font(400, 14px, 1.71, 0.03em);
  color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:focus,
  &:hover {
    color: var(--title-color);
  }
}

.address-text-color {
  color: rgba(255, 255, 255, 0.6);
}

.footer-social {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.foooter-form {
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

.footer-form-container {
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.footer-form-container__input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 50px;
  padding-left: 16px;
  margin-bottom: 20px;
  outline: none;
  &::placeholder {
    @include font(400, 16px, 1.25, 0.03em);
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
  }
  &:focus {
    color: #ffffff;
  }

  @media screen and (min-width: 768px) {
    width: 450px;
    margin-left: 151px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    width: 358px;
  }
}

.footer-form-container__btn {
  background: var(--button-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  @include font(700, 16px, 1.87, 0.06em);
  color: var(--title-color);
  width: 200px;
  height: 50px;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-left: 276px;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 12px;
  }
}

.footer-form-container__icon {
  background-image: url(../images/airplane.svg);
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
