.hero {
  background-color: var(--second-color);
  padding-top: 118px;
  padding-bottom: 118px;

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero-img {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/480px/background-480-1x.jpg);
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/480px/background-480-2x.jpg);
  }
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  min-width: 320px;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 481px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/768px/background-768-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/768px/background-768-2x.jpg);
    }
    max-width: 768px;
  }

  @media screen and (min-width: 769px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/1200px/background-1200-1x.jpg);
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(../images/1200px/background-1200-2x.jpg);
    }
    max-width: 1600px;
  }
}

.hero-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__title {
  @include font(900, 26px, 1.61, 0.06em);
  text-align: center;
  text-transform: uppercase;
  color: var(--title-color);
  min-width: 320px;

  @media screen and (min-width: 480px) {
    width: 360px;
  }

  @media screen and (min-width: 1200px) {
    @include font(900, 44px, 1.36, 0.06em);
    width: 696px;
  }
}

.hero__btn {
  font-family: inherit;
  @include font(700, 16px, 1.87, 0.06em);
  text-align: center;
  color: var(--title-color);
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border: 0;
}
