:root {
  --brand-color: #2196f3;
  --brand-color-2: #000;
  --subject-color: #212121;
  --text-color: #757575;
  --title-color: #ffffff;
  --address-color: rgba(255, 255, 255, 0.6);
  --second-color: #2f303a;
  --team-color: #f5f4fa;
  --line: #ececec;
  --button-color: #2196f3;
}
